<!DOCTYPE html>
<html lang="<%= current_locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag asset_url('favicon.ico') %>
    <title>weby<%= " - #{yield :title}" if content_for?(:title) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%# NOTE: review here %>
    <%= yield :stylesheets %>
    <%= yield :components_stylesheets %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-black-light sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <%= link_to main_app.root_url(subdomain: nil), class: 'logo' do %>
      <span class="logo-mini">
        <%= image_tag 'weby-filler-navbar.png' %>
      </span>
      <span class="logo-lg">
        <%= image_tag 'weby-navbar.png' %>
      </span>
    <% end %>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <%= image_tag 'weby-filler.png', class: 'img-circle' %>
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="//www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=32&d=mm" class="user-image" alt="User Image">
              <span class="hidden-xs">
                <%= current_user.first_name %>
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="//www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?s=32&d=mm" class="img-circle" alt="User Image">
                <p>
                  <%= current_user.first_name %>
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to main_app.profile_url(current_user.login, subdomain: current_site), class: 'btn btn-default btn-flat' do %>
                    Profile
                  <% end %>
                </div>
                <div class="pull-right">
                  <%= link_to t('.logout'), main_app.logout_path(back_url: main_app.site_path), method: :delete, class: 'btn btn-default btn-flat', title: t('.logout') %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->
  <%= render 'layouts/shared/menu_admin2' %>
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= yield(:page_header) %>
        <small><%= yield(:page_header_description) %></small>
      </h1>

      <%= breadcrumbs style: :bootstrap %>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <%= yield %>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <ul>
        <li><%= link_to t(".sites"), main_app.root_url(subdomain: nil) %></li>
        <% if current_settings.help_site %>
          <li><%= link_to(t(".help"), current_settings.help_site, target: '_blank') %></li>
        <% end %>
        <li><%= link_to t(".about"), 'http://weby.cercomp.ufg.br/pages/67630-sobre', target: '_blank' %></li>
      </ul>
    </div>
    <%= t(".licence") %>
  </footer>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
    <style type="text/css">
      .main-footer ul li:first-child {
        border-left: 0;
        margin-left: 0;
        padding: 0 0.5em 0 0;
      }
      .main-footer ul li {
        border-left: solid 1px;
        display: inline-block;
        line-height: 1em;
        padding: 0 0 0 0.5em;
      }
    </style>
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
